
/* CSS Reset: http://meyerweb.com/eric/tools/css/reset */
@import url('https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, th,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************************************************/

#body {
  font-family: 'Baloo 2', roboto, sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  color: #150c21;
}
#body :lang(zh), 
#body .chinese-text  {
    font-family: 'LXGW WenKai Screen', 'Noto Serif SC', '宋体', '微软雅黑', serif;
}
#body .english-text  {
  font-family: 'Baloo 2', 'LXGW WenKai Screen', 'Noto Serif SC', '宋体', '微软雅黑', serif;
}

#main {
  width: 54em;
  margin: 0px auto;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: rgb(20, 110, 190);
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid rgb(20, 110, 190);
}

i {
  font-style: italic;
}

b {
  font-weight: 700;
}

h1 {
  font-size: 2.4em;
  line-height: 3em;
  font-weight: 500;
}

/**************************************************/
/* Profile image and description. */

#intro {
  padding-top: 6em;
  display: flex;
}

#intro-text {
  width: 38em;
  float: left;
}

#intro-image {
  margin: 3em 1em 2em -1em;
  width: 10em;
  height: 10em;
  float: left;
  overflow: hidden;
  padding-right: 2em;
  padding-left: 2em;
}

#intro-image img {
  width: 10em;
}

/**************************************************/
/* News. */

#news-container p::before {
  content: "☛ ";   /* 你可以改成 "• " 或者 "▪ " */
  color: #555;     /* 前缀颜色，可自定义 */
}

/**************************************************/
/* Section buttons. */

#menu {
  display: flex;
}

.menu-item {
  float: left;
  margin-right: 2em;
}

h2 {
  font-size: 1.6em;
  line-height: 2.4em;
  margin-top: 0.5em;
  color: #a0a8b0;
}

.selected h2 {
  color: #150c21;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: none;
  color: #a0a8b0;
  font-family: 'Asap', roboto, sans-serif;
  font-size: 1.6em;
  line-height: 2.4em;
  margin-top: 0.5em;
  margin-right: 1em;
  padding: 0;
}

.button:hover {
  color: #150c21;
}

.button:active,
.button.is-checked {
  color: #150c21;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

/**************************************************/
/* Isotope grid list of items. */

.grid {
  padding-bottom: 6em;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.description {
  margin-bottom: 1em;
}

.list-item {
  width: 100%;
  line-height: 1em;
  margin-top: 1em;
}

.list-item p.date {
  display: inline-block;
  width: 3em;
  color: #a0a8b0;
}

/**************************************************/
/* Gallery of 3 preview videos. */

.previews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 12.5em;
}

.previews video {
  border-radius: 5px;
}

.previews a:hover {
  border: none;
}

.preview1 {
  grid-column: 1;
  width: 100%;
}
.preview2 {
  grid-column: 2;
  width: 100%;
}
.preview3 {
  grid-column: 3;
  width: 100%;
}

/**************************************************/
/* Buttons for showing more or less highlights. */

.toggle-button {
  margin-top: 2em;
}

.toggle-button a {
  color: #a0a8b0;
}

.toggle-button a:hover {
  color: rgb(20, 110, 190);
}

/**************************************************/
/* Publication details (thumbnail media, title, and description). */

.thumbnail {
/*  width: 21%;*/
  width: 25%;
  float: left;
  margin-right: 2%;
}

.thumbnail:hover {
  border-bottom: none;
}

.thumbnail img {
  margin-top: 0.4em;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.thumbnail video {
  margin-top: 0.4em;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
}

h3 a {
  color: #150c21;
}

h3 a:hover {
  color: rgb(20, 110, 190);
}

.publication {
  margin-bottom: 0.5em;
}

.publication p {
  font-size: 1em;
  line-height: 1.5em;
  color: #a0a8b0;
}

.new p {
  font-size: 1em;
  line-height: 1.5em;
  color: #150c21;
}

.project {
  margin-bottom: 0.5em;
}

.project p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #a0a8b0;
}

.project-description {
  width: 72%;
  float: left;
}

.cv {
  margin-bottom: 0.5em;
}


/**************************************************/
/* Modal dialog for showing full-size images. */
mark {
  margin: 0.0em -0.4em;
  padding: 0.0em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    hsla(217, 100%, 84%, 0.1),
    hsla(217, 100%, 84%, 0.5) 4%,
    hsla(217, 100%, 84%, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.wechatModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}
.wechatButton {
  border: none; 
  background: transparent; 
  color: #0ad267;
  font-size: 18px; 
  cursor: pointer;
  padding: 5px 10px; 
  font-family: "Baloo 2", sans-serif;
}

.wechatModal.visible {
  display: flex; 
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  width: auto; 
  max-width: 25%; 
  box-sizing: border-box; 
}

.modal-content img {
  width: 100%; 
  display: block; 
  height: auto; 
}

/**************************************************/
/* Subtle footer at the bottom of the page. */

#footer {
  color: #a0a8b0;
  position: absolute;
  bottom: 0;
  line-height: 2.5em;
}

/**************************************************/
/* Photo Gradient */

#intro-image {
  position: relative; 
}

#intro-image img {
  position: absolute;
  top: 0;
  left: 2em;
  height: 100%;       
  object-fit: cover;  
  transition: opacity 0.8s ease; 
}

#intro-image .real {
  opacity: 0; 
}



